:root {
    /* --brown: rgb(99, 87, 81); */
    --brown: rgb(131, 103, 123);
    --light-blue: #add8e6;
    --lightBlack: rgb(51, 46, 46);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
}

body {
    font-family: "Computer Modern Serif", sans-serif;
}

.page-wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(230, 230, 230);
    padding: 0 20px;
    box-sizing: border-box;
}

.main-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--brown);
    margin-bottom: 1rem;
    text-align: center;
}

.main-desc-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between; /* Add space between image and text */
    margin-top: 1rem;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.main_img {
    width: 33%;
}
.main-img img {
    width: 33%; /* Image takes half of the width */
    height: auto;
    border-radius: 20%;
    border: 1px solid;
}

.main-desc {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--lightBlack);
    width: 67%; /* Text takes the other half of the width */
}

/*----------link-----------------*/

a {
    text-decoration: none;
    color: var(--brown);
    font-weight: bold;
}

a:hover {
    background-color: var(--brown);
    color: var(--light-blue);
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .main-img img,
    .main-desc {
        width: 100%; /* Both image and text take full width on small screens */
    }
}
